.about__container-left{
    width: 50%;
}

.about__text-wrap h3{
    font-size: var(--heading3);
}
.about__text-wrap p{
    font-size: var(--para);
}

@media (max-width:800px) {
    .about__container-left{
        width: 100%;
    }
    
}

/* **************************************** */

.about__container-right{
    width: 40%;
    display: flex;
    justify-content: center;
    
    padding: 2rem;
}

.about__image-container{
    width: 80%;
    display: flex;
    justify-content: center;
}



.about__image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

    box-shadow: 15px 15px 0 var(--shade); 
}

@media (max-width:800px) {
    .about__container-right{
        width: 100%;
    }

    .about__image-container img{
        width: 60%;
    }
    
}
