*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */

:root {
  /*Typography*/
  --heading1: 68px;
  --heading2: 48px;
  --heading3: 40px;
  --heading4: 24px;
  --heading5: 21px;
  --heading6: 16px;
  --para:24px;

  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;

  /*Colors*/
  --lightTint:rgba(223,246,253,.7);
  --tint: #dff6fd;
  --hue: #47b5ff;
  --tone: #1363df;
  --shade: #06283d;

  /*black shades*/
  --black100: rgba(0, 0, 0, 1);
  --black75: rgba(0, 0, 0, 0.75);
  --black50: rgba(0, 0, 0, 0.5);
  --black25: rgba(0, 0, 0, 0.25);
  --black10: rgba(0, 0, 0, 0.1);
}


@media (max-width:1000px) {
    :root{
      --heading1: 48px;
      --heading2: 40px;
      --heading3: 32px;
      --heading4: 24px;
      --heading5: 20px;
      --heading6: 16px;
      --para:24px;
      font-family: 'Poppins', sans-serif;
    
    }
}
@media (max-width:700px) {
    :root{
      --heading1: 24px;
      --heading2: 22px;
      --heading3: 19px;
      --heading4: 17px;
      --heading5: 15px;
      --heading6: 14px;
      --para: 12px;
      font-family: 'Poppins', sans-serif;
    
    }
}